dot() {
    cd "$DOTFILES_DIR" || return 1
}

# Git
alias gst='git status'
alias gc='git commit -m'
alias gca='git commit --amend'
alias gfs='xgfs'

# Editors & IDEs
alias v='nvim'
alias i='idea'
alias c='code'

# Runtime & infra
alias j='jshell'
alias k='kubectl'
alias tf='terraform'

# Misc
alias t='tmux'
