dot() { cd "$DOTFILES_DIR"; }

alias gst='git status -sb'
alias gc='git commit -m'
alias gca='git commit --amend'
alias gfs='xgfs'

gh() { open "https://github.com/$(git config user.name)"; }

alias t='tmux'
alias v='nvim'
alias i='idea'
alias c='code'
alias j='jshell'
alias k='kubectl'
alias tf='terraform'
